# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Generated Vector Database
# ==========================
faiss_store/

# ==========================
# Streamlit Cache
# ==========================
.streamlit/cache/

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# PyMuPDF Temporary Files
# ==========================
*.sqlite
